*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url('../images/developer.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 250px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-orange{
    color: #FD6E0A;
}
.btn-orange{
    font-weight: 700;
    font-size: 20px;
    /* padding: 18px 30px; */
    width: 170px;
    height: 64px;
    
    background: #FD6E0A;
    color: #FFF;
    border-radius: 5px;
    border: none;
}
.btn-contact{
    border: 2px solid orange;
    font-weight: 700;
    font-size: 20px;
    /* padding: 18px 30px; */
    width: 170px;
    height: 64px;
    border-radius: 5px;
    color: orange;
    margin-left: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
}
.banner-pic{
    width: 580px;
    height: 600px;
}
.banner{
    display: flex;
    margin: 0 250px;
    align-items: center;
}
.sub-title-banner{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 15px;
}
.title-banner{
    font-size: 85px;
    font-weight: 600;
    margin-bottom: 15px;
}
.banner-description{
    color: #757575;
    margin-bottom: 30px;
    font-size: 18px;
}


/* about section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 125px 160px;
}
.section-title{
    text-align: center;
    /* margin-bottom: 30px; */
}
#br-orange{
    height: 8px;
    width: 50%;
    display: block;
    margin: 10px auto 30px;
    background-image: linear-gradient(380deg, #ff9c35, #ffd019);
    border-radius: 5px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: #757575;
    text-align: center;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    text-align: center;
}

/* what i do section */
.what-i-do{
    margin-top: 30px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.section-title{
    margin-top: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}
.section-title-description{
    text-align: center;
    color:#757575;
    padding: 0 160px;
}
.skills-container{
    display: flex;
    gap: 24px;
    margin-top: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description{
    color: #757575;
}

/* Resume Styles */
.resume-content{
    display: flex;
    margin-top: 50px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .resume-title{
    font-weight: 700;
    font-size: 30px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume .description{
    color: #757575 ;
}
.resume-btn{
    margin-top: 50px;
    text-align: center;
}

/* contact section */
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 50px 200px;
    margin-top: 100px;
}
.contact .section-title{
    text-align: center;
}
.contact input[type='text'], input[type='email'], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}

/* footer area */
footer{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}